@import "./variables";
#die__roll {
   padding: 15px 30px;
   background-color: $backgroundColor;
   border:3px solid $borderColor;
   color:$borderColor;
   font-size: 30px;
   font-family: $font;
}

#die__roll:hover {
   border: 5px solid $fontColor;
   color: $fontColor;
}