$font:'Prompt', sans-serif;

$fontColor: #fff;

$backgroundColor:#90a955;
$borderColor:#31572c;

$disabledBackground:#5a6936;
$disabledBorder: #414141;

$playerOneColor:#168aad;
$playerTwoColor:#d9ed92;