@import "../elements/grid";
@import "../elements/button";


* {
   padding: 0;
   margin:0;
   box-sizing: border-box;
}

.player1 {
   background-color: cyan;
}

#board {
   background-image: url(../boardBackground.PNG);
   background-size: cover;
}

footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}
// linear-gradient(, ),